@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  --primary-color: #fe6e1e;
  --yellow-color: #fce300;
  --blue-color: #00b5e2;
  --green-color: #00c65e;
  --darkBlue-color: #0047bb;
  --red-color: #e4002b;
  --beige-color: #f7bcac;
  --purple-color: #bb29bb;
  --darkGreen-color: #30b700;
  --darkWhite: #f5f8fd;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--darkWhite);
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.slider-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.hidden {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: rgb(194, 194, 194);
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: white;
  top: 2px;
  left: 4px;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(2em);
}

.slider__round::before {
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.slider {
  border-radius: 1em;
}

.lo-nyhb-container {
  background-color: var(--darkWhite);
  width: 750px;
  padding: 20px;
}

@media screen and (max-width: 345px) {
  .lo-nyhb-container {
    width: 100%;
  }
}

.lo-nyhb-head {
  margin-bottom: 50px;
  margin-top: 200px;
}

.lo-nyhb-head h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 100px;
}

.lo-nyhb-email-container {
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
  padding: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 350px) {
  .lo-nyhb-email-container {
    padding: 20px;
  }
}

.lo-nyhb-email-container span {
  color: var(--primary-color);
}

.lo-nyhb-floating-label {
  position: relative;
  margin-bottom: 15px;
  margin-top: 40px;
}

.lo-nyhb-floating-label input {
  width: 100%;
  padding: 10px;
  padding-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.lo-nyhb-floating-label label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  padding: 10px;
  transition: 0.2s ease all;
  color: var(--primary-color);
}

.lo-nyhb-floating-label input:focus + label,
.lo-nyhb-floating-label input:valid + label {
  top: -20px;
  left: 0;
  background: white;
  transform: scale(0.8);
}

.lo-nyhb-floating-label input:focus {
  border: 2px solid #007bff;
}

.lo-nyhb-brev-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.lo-nyhb-brev-container-top {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.lo-nyhb-release-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

@media screen and (max-width: 390px) {
  .lo-nyhb-release-top {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .lo-nyhb-release-top p {
    margin-bottom: 10px;
  }
}

.lo-nyhb-top-card-pod {
  display: flex;
  flex-direction: row;
}

.lo-nyhb-content-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lo-nyhb-content-check-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lo-nyhb-content-check-top p {
  color: rgb(160, 160, 160);
  margin-right: 10px;
}

.lo-nyhb-content-check p {
  color: rgb(160, 160, 160);
}

.lo-nyhb-content {
  background: #f9f9f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing: border-box;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.lo-nyhb-content h4 {
  font-weight: 600;
  margin-bottom: 20px;
  margin: 0;
}

.lo-nyhb-card {
  width: 48%;
  margin-bottom: 20px;
  height: 100%;
}

.lo-nyhb-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background-color: #0047bb;
}

.lo-nyhb-img-pod {
  width: 60%;
  height: 280px;
  object-fit: cover;
  background-color: #00b5e2;
}

.lo-nyhb-content-pod {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}

.lo-nyhb-card-mobile {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.lo-nyhb-img-mobile {
  background-color: #0047bb;
  min-height: 100%;
  width: 40%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  object-position: center;
}

.lo-nyhb-content-mobile {
  padding: 10px;
  box-sizing: border-box;
  background: #f9f9f9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  justify-content: flex-end;
  min-height: 250px;
  display: flex;
  flex-direction: column;
}

.lo-nyhb-content-check-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(160, 160, 160);
}

.lo-nyhb-separator {
  margin: 60px 0 20px 0;
}

.lo-nyhb-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 300px;
  padding: 20px;
}

.lo-nyhb-submit-container a {
  color: black;
  margin-bottom: 20px;
  font-size: 16px;
}

.lo-nyhb-submit-container button {
  background-color: var(--primary-color);
  padding: 10px;
  outline: none;
  border: none;
  height: 60px;
  border-radius: 25px;
  width: 250px;
  color: white;
  font-size: 16px;
  margin: 20px 0 20px 0;
}

.lo-nyhb-submit-container button:hover {
  cursor: pointer;
  background-color: #ce6700;
}

.lo-nyhb-submit-container p {
  color: rgb(160, 160, 160);
  font-size: 14px;
  margin: 0;
  text-align: center;
  margin: 20px 0 20px 0;
}

.lo-form-error {
  border: red 1px solid;
}

.lo-form-error h3 {
  color: red;
}

.lo-form-error label {
  color: red;
}

.lo-nyhb-error-message {
  color: red;
}

.lo-nyhb-error {
  display: none;
}

@media screen and (max-width: 375px) {
  .lo-nyhb-img-mobile {
    display: none;
  }

  .lo-nyhb-content-mobile {
    justify-content: center;
  }
}

.lo-nyhb-popup-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

.lo-nyhb-popup-content {
  background-color: white;
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 25px;
  position: relative;
  min-height: 400px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.lo-nyhb-popup-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.lo-nyhb-popup-content-container img {
  max-width: 90px;
  margin-bottom: 10px;
  object-fit: cover;
}

.lo-nyhb-popup-content-container h3 {
  color: #212121;
  font-size: 25px;
  text-align: center;
}

.lo-nyhb-popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.lo-nyhb-popup-btn {
  background-color: var(--primary-color);
  padding: 10px;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 150px;
  color: white;
  font-size: 16px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

.lo-nyhb-popup-close button {
  background: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  color: white;
  font-style: bold;
}

.lo-nyhb-nav {
  width: 100%;
  position: fixed;
  top: 0;
  height: 80px;
  background-color: #212121;
  z-index: 99;
}
